@import "https://rs.kdxiaoyi.top/res/css/google.OpenSans-400,700-swap.css";
@font-face {
  font-family: "siyuan";
  src: url("https://rs.kdxiaoyi.top/res/fonts/SourceHanSansCN-Medium.otf") format("opentype");
}
@font-face {
  font-family: "din";
  src: url("https://rs.kdxiaoyi.top/res/fonts/DINPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "misans";
  src: url("https://rs.kdxiaoyi.top/res/fonts/MiSans L3.otf") format("opentype");
}

* {
  font-family: "din", "misans", "siyuan", "starrail", sans-serif;
}