@import "https://rs.kdxiaoyi.top/res/css/google.OpenSans-400,700-swap.css";
/* 全站通用字体定义 */

/*@font-face {
  font-family: "siyuan";
  src: url("https://rs.kdxiaoyi.top/res/fonts/SourceHanSansCN-Normal.otf") format("opentype");
}
@font-face {
  font-family: "misans-l3";
  src: url("https://rs.kdxiaoyi.top/res/fonts/MiSans L3.otf") format("opentype");
}
@font-face {
  font-family: "misans";
  src: url("https://rs.kdxiaoyi.top/res/fonts/MiSans-Regular.woff2") format("woff2");
}*/
@font-face {
  font-family: "din";
  src: url("https://rs.kdxiaoyi.top/res/fonts/DINPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "default";
  src: 
    url("https://rs.kdxiaoyi.top/res/fonts/MiSans-Regular.woff2") format("woff2"),
    url("https://rs.kdxiaoyi.top/res/fonts/MiSans L3.otf") format("opentype"),
    url("https://rs.kdxiaoyi.top/res/fonts/SourceHanSansCN-Normal.otf") format("opentype")
  ;
}

* {
  font-family: "din", "default", system-ui, sans-serif;
}